

.well {
  background:#f1f1f1;
  border-radius: 4px;
  padding: 30px;
}



.well h3, 
.well h3{
  margin-top: 0;
}

.well h1 a:hover{
  color:#c52d2f;
}

.well h4{
  color:#c4c4c5;
  font-weight:400;
}

.well p {
  padding-bottom: 10px;
}

.well a {
  bottom: 15px;
  position: absolute;
  right: 30px;
  background: #c52d2f;
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

.well a:before {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 16px;
  bottom: -11px;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  z-index: 99999;
}




#comments_title{
   color:#4e4e4e;
   font-weight:700px;
   font-size:20px;
   margin-top:60px;
   margin-bottom:40px;
}

.info-space {

  margin-bottom: 40px;
}
